<#include "./adheader.ftl">

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>证书档案库<small></small></h3>
            </div>

            <div class="title_right">
                <form id="searchcertbynumber" class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" name="certcode" placeholder="Search for...">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button" onclick="form=document.getElementById('searchcertbynumber');form.action='/admin/searchnumber/'">编号搜索</button>
                          <button class="btn btn-default" type="button" onclick="form=document.getElementById('searchcertbynumber');form.action='/admin/searchname/'">姓名搜索</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>目录<small></small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>姓名</th>
                                <th>级位</th>
                                <th>生日</th>
                                <th>考官</th>
                                <th>发证道馆</th>
                                <th>发证日期</th>
                                <th>修改</th>
                            </tr>
                            </thead>
                            <#if msg ??>
                                <div class="certresultid" style="color: #3CB371;font-size: 20px">${msg}</div>
                            <#else>
                                <tbody>
                                <tr>
                                    <#if vos ??>
                                        <td>${vos.vo.cert.number}</td>
                                        <td>${vos.vo.cert.name}</td>
                                        <td>${vos.vo.cert.grade}</td>
                                        <td>${vos.vo.cert.birthday}</td>
                                        <td>2011/04/25</td>
                                        <td>$320,800</td>
                                        <td>2019-09-20</td>
                                        <td>无</td>
                                    </#if>
                                </tr>
                                </tbody>
                            </#if>

                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<#include "./adfooter.ftl">