
<#include "./header.ftl">

<!--/.page_menu-->
<div class="page_bodyer">
<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="article_wrap">
          <div class="section">
            <div class="section_tit">
              <h3>${vo.dir1}</h3>
            </div>
              <div class="section_ctt row">
                <div class="col-md-1 tabs_ctt"></div>
                <div class="col-md-10 tabs_ctt">
                  <div class="certificate_wrap">
                    <h4 class="text-center text-primary">${vo.name1}</h4><br>
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label for="" class="col-md-2 control-label">证书编号</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" id="certidinput"  placeholder="请输入证书编号">
                        </div>
                        <div class="col-md-2">
                          <button type="button" class="btn btn-success" onclick="${vo.action}">查询</button>
                        </div>
                      </div>
                    </form>

                    <hr />

                    <h4 class="text-center text-primary">${vo.name2}</h4><br>
                      <form class="form-certresult">
                        <img id="certimgid" width="100%" />
                      </form>
                  </div>
                </div>
                <div class="col-md-1 tabs_ctt"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

<#include "./footer.ftl">
<script language="javascript">
  function getcertimg(){
      var certId = document.getElementById('certidinput').value;
      var certurl = '/cert/show/' + certId;
      image = document.getElementById('certimgid');
      image.src = certurl;
  }
</script>
<script src="../scripts/jquery-1.12.4.min.js"></script>
<script src="../scripts/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../scripts/bootstrap-hover-dropdown.min.js"></script>
<script src="../scripts/common.js"></script>
</body>
</html>
