
<#include "./header.ftl">

<!--/.page_menu-->
<div class="page_bodyer">
<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="article_wrap">
          <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li class="active">证书查询</li>
          </ol>
          <hr/>
          <div class="section">
            <div class="section_tit">
              <h3>认证证书</h3>
            </div>
            <div class="section_ctt row">

              <div class="col-sm-9 tabs_ctt">
                <div class="certificate_wrap">
                  <h4 class="text-center text-primary"><i class="fa fa-certificate"></i> 级位查询</h4>
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label for="" class="col-sm-2 control-label">证书编号</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="userno1" placeholder="请输入证书编号">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-success" id="button1"><i class="fa fa-search"></i> 查询</button>
                      </div>
                    </div>
                  </form>
                  <div class="msg_errors text-center text-danger bg-danger" id="danger1" style="display:none;"><i class="fa fa-warning"></i> 未找到相关信息！</div>
                  <hr />
                  <h4 class="text-center text-primary"><i class="fa fa-certificate"></i> 级位查询结果</h4>
                  <div id="certificate_resaults_jw" class="certificate_resaults">
                    <form class="form-horizontal">
                      <img width="700" height="300" src="../images/logo.png"/>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

<#include "./footer.ftl">
<script src="../scripts/jquery-1.12.4.min.js"></script>
<script src="../scripts/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../scripts/bootstrap-hover-dropdown.min.js"></script>
<script src="../scripts/common.js"></script>
<SCRIPT>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?43e49b685a8869184dcb4a7286958de2";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</SCRIPT> 
<script>
var host_prefix = 'http://system.taekwondo.org.cn/app/level';
var host_prefix2 = 'http://system.taekwondo.org.cn/app/grades';
$(document).ready(function() {
    $("#button1").click(function(e) {
        var usernname1 = $("#usernname1").val();
        var userno1 = $("#userno1").val();
        if(usernname1 == '' || userno1  == ''){
            return false;
        }
        e.preventDefault();
        var url = host_prefix + '?callback=?&userno='+userno1+'&username='+usernname1;
        $.getJSON(url, function(jsonp) {
            if(jsonp.No == ''){
            $("#danger1").show();
            }else{
             $("#uname1").val(jsonp.Mname);
             $("#uno1").val(jsonp.No);
             $("#level1").val(jsonp.Level);
             $("#leader1").val(jsonp.Examiner);
             $("#regtime1").val(jsonp.PassDate);
             $("#danger1").hide();
            }
            //console.log(jsonp);
            //$("#jsonp-response").html(JSON.stringify(jsonp, null, 2));
        });
    });
    $("#button2").click(function(e) {
        var usernname2 = $("#usernname2").val();
        var userno2 = $("#userno2").val();
        if(usernname2 == '' || userno2  == ''){
            return false;
        }
        e.preventDefault();
        var url = host_prefix2 + '?callback=?&userno='+userno2+'&username='+usernname2;
        $.getJSON(url, function(jsonp) {
            if(jsonp.No == ''){
            $("#danger2").show();
            }else{
             $("#uname2").val(jsonp.Mname);
             $("#card").val(jsonp.Card);
             $("#greads").val(jsonp.Level);
             $("#uno2").val(jsonp.No);
             $("#nationl").val(jsonp.Nationality);
             $("#regtime2").val(jsonp.PassDate);
             $("#birthday").val(jsonp.Birthday);
             $("#danger2").hide();
            }
            //console.log(jsonp);
            //$("#jsonp-response").html(JSON.stringify(jsonp, null, 2));
        });
    });

});
</script>
</body>
</html>
