<#include "./header.ftl">

<!--/.page_menu-->
<div class="page_bodyer">
<div class="section home_main">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div id="home-carousel" class="carousel slide" data-ride="carousel"> 
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#home-carousel" data-slide-to="1"></li>
              <li data-target="#home-carousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
<div class="item active"> <img src="http://xhimg.sports.cn/Image/190114/65-1Z114144I1J8.jpg" alt="国家跆拳道队 空手道队参观改革开放40周年大型展览">
                <div class="carousel-caption"><a href="http://www.taekwondo.org.cn/xwdt/2019/0114/197090.html" target="_blank">国家跆拳道队 空手道队参观改革开放40周年大型展览</a></div>
              </div>
               
<div class="item"> <img src="http://xhimg.sports.cn/Image/190104/6-1Z104160050604.jpg" alt="国家跆拳道队、空手道队和协会工作人员观看庆祝改革开放四十周年大会——向改革者致敬">
                <div class="carousel-caption"><a href="http://www.taekwondo.org.cn/xwdt/2018/1218/196682.html" target="_blank">国家跆拳道队、空手道队和协会工作人员观看庆祝改革开放四十周年大会——向改革者致敬</a></div>
              </div>
<div class="item"> <img src="http://xhimg.sports.cn/Image/190104/6-1Z104160421T4.jpg" alt="世界跆拳道大满贯冠军赛赵帅、周俐君为中国摘两冠">
                <div class="carousel-caption"><a href="http://www.taekwondo.org.cn/xwdt/2018/1217/196681.html" target="_blank">世界跆拳道大满贯冠军赛赵帅、周俐君为中国摘两冠</a></div>
              </div>
               
            </div>
            <!-- Controls --> 
            <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev"> <span class="" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next"> <span class="" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
        </div>
        <div class="col-md-4">
          <div class="home_main_news">
            <h3>最新动态</h3>
            <ul class="news_list">
<li> <a href="http://www.taekwondo.org.cn/xwdt/2019/0114/197090.html" target="_blank">
                <h4 class="etc">国家跆拳道队 空手道队参观改革开放40周年大型展览</h4>
                </a>
                <p class="maxtext" maxnumber="45">为了深入学习贯彻党的十九大精神，2019年1月9日上午，中国跆拳道队和空手道队全体运动员在国家队教练管健民的带领下来到国家博物馆参观伟大的变革庆祝改革开放40周年大型展览。</p>
              </li>
<li> <a href="http://www.taekwondo.org.cn/xwdt/2018/1218/196682.html" target="_blank">
                <h4 class="etc">国家跆拳道队、空手道队和协会工作人员观看庆祝改革开放四十周年大会——向改革者致敬</h4>
                </a>
                <p class="maxtext" maxnumber="45">12月18日上午10时，庆祝改革开放40周年大会在人民大会堂举行。中共中央总书记、国家主席、中央军委主席习近平出席大会并发表重要讲话。</p>
              </li>
<li> <a href="http://www.taekwondo.org.cn/xwdt/2018/1217/196681.html" target="_blank">
                <h4 class="etc">世界跆拳道大满贯冠军赛赵帅、周俐君为中国摘两冠</h4>
                </a>
                <p class="maxtext" maxnumber="45">2018世界跆拳道大满贯冠军系列赛总决赛16日在无锡太湖国际博览中心落幕。</p>
              </li>
               
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section_2 home_system_entry">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-2"><a href="" target="_blank"><i class="icon"><img src="http://xhjs.sports.cn/taekwondo/img/icon01.png" alt="会员服务"></i><br/>
          <h4>联盟服务</h4>
          </a></div>   
        <div class="col-xs-6 col-sm-4 col-md-2"><a href="/zhengshu/" target="_blank"><i class="icon"><img src="http://xhjs.sports.cn/taekwondo/img/icon03.png" alt="证书查询"></i><br/>
          <h4>证书查询</h4>
          </a></div>
        <div class="col-xs-6 col-sm-4 col-md-2"><a href="/memberservices/gyms/" target="_blank"><i class="icon"><img src="http://xhjs.sports.cn/taekwondo/img/icon05.png" alt="考试中心"></i><br/>
          <h4>考试中心</h4>
          </a></div>
        <div class="col-xs-6 col-sm-4 col-md-2"><a href="" target="_blank"><i class="icon"><img src="http://xhjs.sports.cn/taekwondo/img/icon06.png" alt="相关下载"></i><br/>
          <h4>相关下载</h4>
          </a></div>
        
      </div>
    </div>
  </div>
  <div class="section home_">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="home_cta_news">
            <h3><a href="/news/index.html">新闻资讯</a></h3>
            <div class="main">
<a href="http://www.taekwondo.org.cn/xwdt/2019/0114/197090.html" target="_blank">
              <img class="img-responsive" src="http://xhimg.sports.cn/Image/190114/65-1Z114144I1J8.jpg" alt="国家跆拳道队 空手道队参观改革开放40周年大型展览" />
              <div class="caption"><h4>国家跆拳道队 空手道队参观改革开放40周年大型展览</h4></div>
            </a>
            
            </div>
            <ul class="news_list">
<li><span class="date">12-19</span><a href="http://www.taekwondo.org.cn/xwdt/2018/1219/196683.html" target="_blank">跆拳道成为城市新名片</a></li>
<li><span class="date">07-30</span><a href="http://www.taekwondo.org.cn/xwdt/2018/0730/179502.html" target="_blank">跆拳道团体世界杯中国队1金3银1铜</a></li>
<li><span class="date">07-13</span><a href="http://www.taekwondo.org.cn/xwdt/2018/0713/179501.html" target="_blank">2018年全国跆拳道锦标系列赛第三站落幕，“以赛代练”初见成效</a></li>
<li><span class="date">07-13</span><a href="http://www.taekwondo.org.cn/xwdt/2018/0713/179500.html" target="_blank">全国跆拳道锦标赛第二站落幕，小将抢戏未来可期</a></li>
 
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="home_cta_notice">
            <h3><a href="/notices/index.html">联盟公告</a></h3>
            <ul class="news_list">
<li><span class="date">01-15</span><a href="http://www.taekwondo.org.cn/notices/qt/2019/0115/197157.html" target="_blank">关于开展跆拳道项目2019年全国运动员注册工作的通知</a></li>
<li><span class="date">01-14</span><a href="http://www.taekwondo.org.cn/notices/qt/2019/0114/197088.html" target="_blank">关于启用中国跆拳道协会对公账户的通知</a></li>
<li><span class="date">01-14</span><a href="http://www.taekwondo.org.cn/notices/qt/2019/0114/197087.html" target="_blank">关于2016—2018年度国际段位办理留存问题处理意见的通知</a></li>
<li><span class="date">01-14</span><a href="http://www.taekwondo.org.cn/notices/qt/2019/0114/197086.html" target="_blank">关于推荐各考试委员会组成及考点的通知</a></li>
<li><span class="date">01-14</span><a href="http://www.taekwondo.org.cn/notices/qt/2019/0114/197085.html" target="_blank">关于印发《中国跆拳道协会会员管理办法》的通知</a></li>
<li><span class="date">01-14</span><a href="http://www.taekwondo.org.cn/notices/qt/2019/0114/197084.html" target="_blank">关于印发《中国跆拳道协会考试中心管理办法》的通知</a></li>
<li><span class="date">01-14</span><a href="http://www.taekwondo.org.cn/notices/qt/2019/0114/197083.html" target="_blank">关于印发《中国跆拳道协会段位管理办法》的通知</a></li>
<li><span class="date">01-14</span><a href="http://www.taekwondo.org.cn/notices/qt/2019/0114/197081.html" target="_blank">关于印发《中国跆拳道协会级位管理办法》的通知</a></li>
<li><span class="date">01-14</span><a href="http://www.taekwondo.org.cn/notices/px/2019/0114/197072.html" target="_blank">关于组织国家跆拳道队2019年第一期集训的通知</a></li>
<li><span class="date">01-14</span><a href="http://www.taekwondo.org.cn/notices/ss/2019/0114/197062.html" target="_blank">中国跆拳道协会关于开展2019年全国跆拳道赛事申办工作的通知</a></li>
 

            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="home_cta_resaults">
            <h3><a href="/cjfb/index.html">佳绩展示</a></h3>
            <ul class="news_list">
<li><span class="date">01-16</span><a href="http://www.taekwondo.org.cn/cjfb/gnss/2019/0116/197234.html" target="_blank">2018年全国青少年俱乐部联赛总决赛成绩公告</a></li>
<li><span class="date">01-16</span><a href="http://www.taekwondo.org.cn/cjfb/gnss/2019/0116/197233.html" target="_blank">2018年全国青少年跆拳道U系列赛总决赛成绩公告</a></li>
<li><span class="date">01-16</span><a href="http://www.taekwondo.org.cn/cjfb/gnss/2019/0116/197232.html" target="_blank">2018年全国青年跆拳道锦标赛总决赛成绩公告</a></li>
<li><span class="date">01-16</span><a href="http://www.taekwondo.org.cn/cjfb/gnss/2019/0116/197231.html" target="_blank">2018年全国跆拳道锦标赛成绩公告</a></li>
<li><span class="date">01-16</span><a href="http://www.taekwondo.org.cn/cjfb/gnss/2019/0116/197230.html" target="_blank">2018年全国跆拳道冠军总决赛成绩公告</a></li>
<li><span class="date">07-13</span><a href="http://www.taekwondo.org.cn/cjfb/gnss/2018/0713/180139.html" target="_blank">2018年全国跆拳道锦标系列赛第三站成绩册</a></li>
<li><span class="date">07-13</span><a href="http://www.taekwondo.org.cn/cjfb/gnss/2018/0713/180138.html" target="_blank">2018年全国跆拳道锦标系列赛第二站成绩册</a></li>
<li><span class="date">07-13</span><a href="http://www.taekwondo.org.cn/cjfb/gnss/2018/0713/180137.html" target="_blank">2018年全国跆拳道锦标系列赛第一站成绩册</a></li>
<li><span class="date">08-24</span><a href="http://www.taekwondo.org.cn/cjfb/gnss/2015/0824/180136.html" target="_blank">优魄杯2015-2016年全国大众跆拳道系列赛（郑州站）成绩汇总</a></li>
<li><span class="date">08-24</span><a href="http://www.taekwondo.org.cn/cjfb/gnss/2015/0824/180135.html" target="_blank">2015-16年“优魄杯”全国大众跆拳道系列赛(广西站)暨 “水坝杯”全国大众跆拳</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section home_photos">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="">
            <h3><a href="/jctp/index.html">联盟成员</a></h3>
            <ul class="home_photos_list">
<li class="col-sm-6 col-md-3">
                <div class="item"><a href="http://www.taekwondo.org.cn/jctp/2018/0801/180123.html" target="_blank"><img class="img-responsive" src="http://xhimg.sports.cn/Image/190108/6-1Z10Q31SBS.jpg" alt="跆拳道团体世界杯中国队1金3银1铜" />
                  <h4>跆拳道团体世界杯中国队1金3银1铜</h4>
                  </a></div>
              </li>
<li class="col-sm-6 col-md-3">
                <div class="item"><a href="http://www.taekwondo.org.cn/jctp/2016/0825/180122.html" target="_blank"><img class="img-responsive" src="http://xhimg.sports.cn/Image/190108/6-1Z10Q324141O.jpg" alt="中国跆拳道队回国" />
                  <h4>中国跆拳道队回国</h4>
                  </a></div>
              </li>
<li class="col-sm-6 col-md-3">
                <div class="item"><a href="http://www.olympic.cn/pic/2016/0821/115696.html" target="_blank"><img class="img-responsive" src="http://xhimg.sports.cn/Image/190108/6-1Z10Q32515M6.jpg" alt="跆拳道女子67公斤以上级：郑姝音夺冠" />
                  <h4>跆拳道女子67公斤以上级：郑姝音夺冠</h4>
                  </a></div>
              </li>
<li class="col-sm-6 col-md-3">
                <div class="item"><a href="http://www.olympic.cn/pic/2016/0821/115649.html" target="_blank"><img class="img-responsive" src="http://xhimg.sports.cn/Image/190108/6-1Z10Q3262C21.jpg" alt="跆拳道女子67kg郑姝音挺进决赛" />
                  <h4>跆拳道女子67kg郑姝音挺进决赛</h4>
                  </a></div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

<#include "./footer.ftl">
<script src="../scripts/jquery-1.12.4.min.js"></script> 
<script src="../scripts/bootstrap.min.js"></script> 
<script src="../scripts/bootstrap-hover-dropdown.min.js"></script>
<script src="../scripts/common.js"></script>
<SCRIPT>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?43e49b685a8869184dcb4a7286958de2";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</SCRIPT>
</body>
</html>
