<#include "./header.ftl">

<!--/.page_menu-->
<div class="page_bodyer">
<div class="section home_main">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div id="home-carousel" class="carousel slide" data-ride="carousel"> 
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#home-carousel" data-slide-to="1"></li>
              <li data-target="#home-carousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
<div class="item active"> <img src="../images/home/qsys.jpg" alt="跆拳道九段联盟签约仪式">
                <div class="carousel-caption"><a href="#" target="_blank">跆拳道九段联盟签约仪式</a></div>
              </div>
               
<div class="item"> <img src="../images/home/tkd2018gks.jpg" alt="国际跆拳道公开赛在京举行">
                <div class="carousel-caption"><a href="#" target="_blank">国际跆拳道公开赛在京举行</a></div>
              </div>
<div class="item"> <img src="../images/home/jndiftgks.jpg" height="100%" alt="2018年加拿大ITF世界锦标赛">
                <div class="carousel-caption"><a href="#" target="_blank">2018年加拿大ITF世界锦标赛</a></div>
              </div>
               
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#home-carousel" role="button" data-slide="prev"> <span class="" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#home-carousel" role="button" data-slide="next"> <span class="" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
        </div>
        <div class="col-md-4">
          <div class="home_main_news">
            <h3>最新动态</h3>
            <ul class="news_list">
<li> <a href="#" target="_blank">
                <h4 class="etc">跆拳道九段联盟签约仪式</h4>
                </a>
                <p class="maxtext" maxnumber="45">2019年2月18日，跆拳道九段联盟签约仪式在韩举行</p>
              </li>
<li> <a href="#" target="_blank">
                <h4 class="etc">国际跆拳道公开赛在京举行</h4>
                </a>
                <p class="maxtext" maxnumber="45">2018（第十二届）国际跆拳道公开赛日前在北京奥体中心体育馆开幕，共有来自全国22个省市44个跆拳道馆选派出的900余名选手前来参加，此外俄罗斯、蒙古、英国、韩国等传统跆拳道强国也选派代表参加了此次赛事，中外选手共同为跆拳道爱好者们带来了一场盛宴。</p>
              </li>
<li> <a href="#" target="_blank">
                <h4 class="etc">2018年加拿大ITF世界锦标赛</h4>
                </a>
                <p class="maxtext" maxnumber="45">加拿大精英跆拳道联合会自豪地宣布，在阿根廷布宜诺斯艾利斯举行的2018年国际跆拳道锦标赛上，加拿大队取得了巨大的成功。</p>
              </li>
               
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section_2 home_system_entry">
    <div class="container">
      <div class="row">
        <div class="col-ex-2 col-xs-2 col-sm-2 col-md-2 col-as-2 col-as-2"></div>
        <div class="col-ex-2 col-xs-2 col-sm-2 col-md-2 col-as-2 col-as-2"><a href="" target="_blank"><i class="icon"><img height="40" width="40" src="../images/icon/service.png" alt="会员服务"></i><br/>
          <h4 style="color: #004aa0;">联盟服务</h4>
          </a></div>   
        <div class="col-ex-2 col-xs-2 col-sm-2 col-md-2 col-as-2 col-as-2"><a href="/certquery/" target="_blank"><i class="icon"><img height="40" width="40" src="../images/icon/select.png" alt="证书查询"></i><br/>
          <h4 style="color: #004aa0;">证书查询</h4>
          </a></div>
        <div class="col-ex-2 col-xs-2 col-sm-2 col-md-2 col-as-2 col-as-2"><a href="/memberservices/gyms/" target="_blank"><i class="icon"><img height="40" width="40" src="../images/icon/competition.png" alt="赛事中心"></i><br/>
          <h4 style="color: #004aa0;">赛事中心</h4>
          </a></div>
        <div class="col-ex-2 col-xs-2 col-sm-2 col-md-2 col-as-2 col-as-2"><a href="" target="_blank"><i class="icon"><img height="40" width="40" src="../images/icon/download.png" alt="相关下载"></i><br/>
          <h4 style="color: #004aa0;">相关下载</h4>
          </a></div>
        <div class="col-ex-2 col-xs-2 col-sm-2 col-md-2 col-as-2 col-as-2"></div>
        
      </div>
    </div>
  </div>
  <div class="section home_">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="home_cta_news">
            <h3><a href="/newsdir/">新闻资讯</a></h3>
            <div class="main">
<a href="#" target="_blank">
              <img class="img-responsive" src="../images/home/pxzhgks.jpg" alt="第2届中韩国际跆拳道钻石精英赛即将开幕" />
              <div class="caption"><h4>第2届中韩国际跆拳道钻石精英赛即将开幕</h4></div>
            </a>
            
            </div>
            <ul class="news_list">
<li><span class="date">12-19</span><a href="#" target="_blank">英国“跆拳道家族”：一家八口五人是黑带高手</a></li>
<li><span class="date">07-30</span><a href="#" target="_blank">跆拳道团体世界杯中国队1金3银1铜</a></li>

 
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="home_cta_notice">
            <h3><a href="#">联盟公告</a></h3>
            <ul class="news_list">
<li><span class="date">01-15</span><a href="#" target="_blank">关于开展跆拳道项目2019年全国运动员注册工作的通知</a></li>
<li><span class="date">02-14</span><a href="#" target="_blank">关于启用中国跆拳道协会对公账户的通知</a></li>
<li><span class="date">02-14</span><a href="#" target="_blank">关于2019年度九段联盟段位办理留存问题处理意见的通知</a></li>
<li><span class="date">02-14</span><a href="#" target="_blank">关于推荐各考试委员会组成及考点的通知</a></li>
<li><span class="date">02-14</span><a href="#" target="_blank">关于印发《九段联盟会员管理办法》的通知</a></li>
<li><span class="date">02-14</span><a href="#" target="_blank">关于印发《九段联盟考试中心管理办法》的通知</a></li>

 

            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="home_cta_resaults">
            <h3><a href="#">佳绩展示</a></h3>
            <ul class="news_list">
<li><span class="date">01-16</span><a href="#" target="_blank">2018雅加达亚运会跆拳道品势项目比赛上，中国队收获一枚宝贵的银牌</a></li>
<li><span class="date">01-16</span><a href="#" target="_blank">跆拳道团体世界杯中国队1金3银1铜</a></li>
<li><span class="date">01-16</span><a href="#" target="_blank">跆拳道女子67公斤以上级：郑姝音夺冠</a></li>
<li><span class="date">01-16</span><a href="#" target="_blank">乌克兰媒体报道武王决国际跆拳道公开赛盛况</a></li>
<li><span class="date">01-16</span><a href="#" target="_blank">跆拳道男子80公斤以上级：乔森不敌乌兹别克斯坦选手</a></li>
<li><span class="date">07-13</span><a href="#" target="_blank">中国跆拳道队世界杯载誉归来</a></li>


            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section home_photos">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="">
            <h3><a href="">精彩图库</a></h3>
            <ul class="home_photos_list">
<li class="col-sm-6 col-md-3">
                <div class="item"><a href="#" target="_blank"><img class="img-responsive" src="../images/home/zsjjjs.jpg" alt="跆拳道58公斤级：赵帅晋级决赛" />
                  <h4>跆拳道58公斤级：赵帅晋级决赛</h4>
                  </a></div>
              </li>
<li class="col-sm-6 col-md-3">
                <div class="item"><a href="#" target="_blank"><img class="img-responsive" src="../images/home/zzydg.jpg" alt="跆拳道女子67公斤以上级：郑姝音夺冠" />
                  <h4>跆拳道女子67公斤以上级：郑姝音夺冠</h4>
                  </a></div>
              </li>
<li class="col-sm-6 col-md-3">
                <div class="item"><a href="#" target="_blank"><img class="img-responsive" src="../images/home/sjttjbszhyj.jpg" alt="跆拳道团体世界杯锦标赛中国女队包揽冠亚军" />
                  <h4>跆拳道团体世界杯锦标赛中国女队包揽冠亚军</h4>
                  </a></div>
              </li>
<li class="col-sm-6 col-md-3">
                <div class="item"><a href="#" target="_blank"><img class="img-responsive" src="../images/home/tkdshbzhjyt.jpg" alt="跆拳道团体世界杯中国队1金3银1铜" />
                  <h4>跆拳道团体世界杯中国队1金3银1铜</h4>
                  </a></div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

<#include "./footer.ftl">
<script src="../scripts/jquery-1.12.4.min.js"></script> 
<script src="../scripts/bootstrap.min.js"></script> 
<script src="../scripts/bootstrap-hover-dropdown.min.js"></script>
<script src="../scripts/common.js"></script>

</body>
</html>
