
<#include "./header.ftl">

<!--/.page_menu-->
<div class="page_bodyer">
<div class="container">
    <div class="page_wrap">
      <div class="section">
        <h3 class="section_tit">联盟简介</h3>
        <div class="section_ctt row">
          <div class="col-sm-3">
            <div class="hidden-xs"><img class="img-responsive" src="../images/logo.png" alt="" /></div>
          </div>
          <div class="col-sm-9">
            <div class="">
              <br>
              <br>
              <br>
              <p style="font-size: 20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中国九段联盟是由韩国国技院九段联盟金庆德会长(跆拳道黑带九段)发起并创立。其创立目的在中国推广正统跆拳道并且致力于普及跆拳道这项运动在中国的发展。</p>
            </div>
          </div>
          
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<!--/.page_bodyer-->
<#include "./footer.ftl">
<script src="http://xhjs.sports.cn/taekwondo/js/jquery-1.12.4.min.js"></script> 
<script src="http://xhjs.sports.cn/taekwondo/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script> 
<script src="http://xhjs.sports.cn/taekwondo/css/bootstrap-hover-dropdown.min.js"></script>
<script src="http://xhjs.sports.cn/taekwondo/js/common.js"></script>

</body>
</html>
