
<#include "./header.ftl">

<!--/.page_menu-->
<div class="page_bodyer">
<div class="container">
    <div class="page_wrap">
      <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active">九段联盟</li>
      </ol>
      <div class="section">
        <h3 class="section_tit">联盟简介</h3>
        <div class="section_ctt row">
          <div class="col-sm-3">
            <div class="hidden-xs"><img class="img-responsive" src="../images/logo.jpg" alt="" /></div>
          </div>
          <div class="col-sm-9">
            <div class="">
              <p>　　中国跆拳道协会经中华人民共和国民政部正式批准，于 2004 年在北京成立。本协会是在中华全国体育总会领导下的群众性非赢利体育社团，是中国奥委会承认的、代表中国参加相应国际跆拳道组织和活动的唯一合法组织。本协会依法对中国跆拳道运动进行管理，现有团体会员 31 个(全国各省、自治区、直辖市跆拳道协会)，个人会员正在逐步发展壮大，目前已接近百万之众。</p>
              <p>　　中国跆拳道协会的总部设在首都北京。</p>
              <p>　　中国跆拳道协会的宗旨是：在遵守国家宪法、法律的前提下，团结中国跆拳道工作者、运动员和跆拳道爱好者，在中国推广和普及跆拳道运动，增强中华民族的身体素质；提高跆拳道运动技术水平，攀登世界跆拳道高峰；增进同各国家和地区跆拳道人士的友谊，加强与世界跆拳道联盟和亚洲跆拳道联盟等国际体育组织以及世界各国跆拳道协会的联系与合作。</p>
            </div>
          </div>
          
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<!--/.page_bodyer-->
<#include "./footer.ftl">
<script src="http://xhjs.sports.cn/taekwondo/js/jquery-1.12.4.min.js"></script> 
<script src="http://xhjs.sports.cn/taekwondo/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script> 
<script src="http://xhjs.sports.cn/taekwondo/css/bootstrap-hover-dropdown.min.js"></script>
<script src="http://xhjs.sports.cn/taekwondo/js/common.js"></script>
<SCRIPT>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?43e49b685a8869184dcb4a7286958de2";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</SCRIPT>
</body>
</html>
