<#include "./header.ftl">

  <!--/.page_menu-->
  <div class="page_bodyer">
    <div class="container">
      <div class="page_wrap">
        <div class="section">
          <h3 class="section_tit">联盟会员级别权益及晋升方法</h3>
          <div class="section_ctt row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
              <div class="section_ctt row" align="center">
                <p style="font-size: 18px"><strong>晋升方法：九段联盟会员制，以累积积分为晋升标准。</strong></p><br>
                <table id="datatable" class="table table-striped table-bordered">
                  <thead>
                  <tr>
                    <th>获得积分项目</th>
                    <th>积分</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>参加（国内） 讲习会一次</td>
                    <td>5积分</td>
                  </tr>
                  <tr>
                    <td>推荐1名新人入会</td>
                    <td>10积分</td>
                  </tr>
                  <tr>
                    <td>参加（韩国）讲席会一次</td>
                    <td>20积分</td>
                  </tr>
                  </tbody>
                </table>
                <br/>
                <table id="datatable1" class="table table-striped table-bordered">
                  <thead>
                  <tr>
                    <th>级别</th>
                    <th>积分</th>
                    <th>权益</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>九级会员</td>
                    <td>10</td>
                    <td>九段联盟专属高级跆拳道服一套</td>
                  </tr>
                  <tr>
                    <td>八级会员</td>
                    <td>30</td>
                    <td>送两次技术讲习会资格</td>
                  </tr>
                  <tr>
                    <td>七级会员</td>
                    <td>60</td>
                    <td>赴韩国跆拳道研修及访问旅游费用（不包含机票及签证）</td>
                  </tr>
                  <tr>
                    <td>六级会员</td>
                    <td>100</td>
                    <td>赴韩国跆拳道研修及访问旅游费用加往返机票（签证自理）</td>
                  </tr>
                  <tr>
                    <td>五级会员</td>
                    <td>200</td>
                    <td>举办技术讲习会资格，<br>
                      任命韩国京畿道跆拳道协会中国市（普通地级市）支部长</td>
                  </tr>
                  <tr>
                    <td>四级会员</td>
                    <td>300</td>
                    <td>举办技术讲习会资格，<br>
                      任命韩国京畿道跆拳道协会中国市（省会级城市及大城市）支部长</td>
                  </tr>
                  <tr>
                    <td>三级会员</td>
                    <td>500</td>
                    <td>有资格承办九段联盟杯跆拳道赛事，<br>
                      任命韩国京畿道跆拳道协会中国省（或直辖市级）支部长</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-sm-2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!--/.page_bodyer-->
  <#include "./footer.ftl">
<script src="http://xhjs.sports.cn/taekwondo/js/jquery-1.12.4.min.js"></script>
<script src="http://xhjs.sports.cn/taekwondo/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="http://xhjs.sports.cn/taekwondo/css/bootstrap-hover-dropdown.min.js"></script>
<script src="http://xhjs.sports.cn/taekwondo/js/common.js"></script>

</body>
</html>