<#include "./header.ftl">

    <!--/.page_menu-->
    <div class="page_bodyer">
        <div class="container">
            <div class="page_wrap">
                <div class="section">
                    <h3 class="section_tit">中国九段联盟加盟权益</h3>
                    <div class="section_ctt row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-8">
                            <div class="">
                                <p>
                                    　　<strong>一、会费：3580元（终身会员）</strong></p>
                                <p>
                                    　　（年服务费：待定）</p>

                                <p>
                                    　　<strong>二、加盟权益</strong></p>
                                <p>
                                    　　1.对接韩国最优质的跆拳道资源（跆拳道教学，游学，赛事，留学等）</p>
                                <p>
                                    　　2.韩国京畿道跆拳道协会研修院 修炼项目同步对接
                                    （传统跆拳道，实战护身跆拳道，跆剑道，跆舞，示范表演，品势，竞技，人性教育，跆拳幼儿体智能，修炼计划指导方法等等以上所有项目培训加道馆教学落地方法）。</p>
                                <p>
                                <p>
                                    　　3.个人认证会员道场牌匾（带独立编码）<p>

                            </p>
                                <p>
                                <p>
                                    　　4.个人会员证书（带独立编码）<p>

                            </p>
                                <p>
                                <p>
                                    　　5.单次技术讲习门票<p>

                            </p>
                                <p>
                                <p>
                                    　　6.全国技术讲习门票会员价：市场价的50%<p>

                            </p>
                                <p>
                                <p>
                                    　　7.九段联盟LOGO及商标使用权<p>

                            </p>
                                <p>
                                <p>
                                    　　8.九段联盟统一胸章一枚<p>

                            </p>
                                <p>
                                <p>
                                    　　9.正统跆拳道指导方法（电子课件）<p>

                            </p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!--/.page_bodyer-->
<#include "./footer.ftl">
<script src="http://xhjs.sports.cn/taekwondo/js/jquery-1.12.4.min.js"></script>
<script src="http://xhjs.sports.cn/taekwondo/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="http://xhjs.sports.cn/taekwondo/css/bootstrap-hover-dropdown.min.js"></script>
<script src="http://xhjs.sports.cn/taekwondo/js/common.js"></script>

</body>
</html>
