
<#include "./header.ftl">

<!--/.page_menu-->
<div class="page_bodyer">
<div class="container">
    <div class="page_wrap">
      <div class="section news_news">
        <h3 class="section_tit">新闻动态</h3>
        <div class="section_ctt">
          <ul class="news_list list_list">
              <li><a href="#" target="_blank">国际跆拳道公开赛在京举行</a><span class="date">12-29</span></li>
              <li><a href="#" target="_blank">跆拳道成为城市新名片</a><span class="date">12-19</span></li>
              <li><a href="#" target="_blank">俄总统普京获跆拳道荣誉黑带九段</a><span class="date">12-18</span></li>
              <li><a href="#" target="_blank">世界跆拳道大满贯冠军赛赵帅、周俐君为中国摘两冠</a><span class="date">12-17</span></li>
              <li><a href="#" target="_blank">跆拳道团体世锦赛中国女队豪取四连冠 郑姝音：我们是最棒的</a><span class="date">11-26</span></li>
              <li><a href="#" target="_blank">跆拳道阿联酋站郑姝音赢奥运冠军对决 轻松晋级决赛</a><span class="date">11-26</span></li>
              <li><a href="#" target="_blank">英国“跆拳道家族”：一家八口五人是黑带高手</a><span class="date">11-26</span></li>
              <li><a href="#" target="_blank">“乌克兰媒体报道武王决国际跆拳道公开赛盛况</a><span class="date">09-27</span></li>
              <li><a href="#" target="_blank">世界跆拳道大獎賽19日開踢 亞運金牌蘇柏亞爭奧運積分</a><span class="date">12-29</span></li>
              <li><a href="#" target="_blank">雅加达之行收获丰，下一目标是东京</a><span class="date">08-28</span></li>

          </ul>
          <nav class="text-center" aria-label="Page navigation">
            <ul class="pagination">
<li>首页</li>
<li class="thisclass">1</li>
<li><a href='list_1598_2.html'>2</a></li>
<li><a href='list_1598_3.html'>3</a></li>
<li><a href='list_1598_4.html'>4</a></li>
<li><a href='list_1598_5.html'>5</a></li>
<li><a href='list_1598_6.html'>6</a></li>
<li><a href='list_1598_7.html'>7</a></li>
<li><a href='list_1598_8.html'>8</a></li>
<li><a href='list_1598_9.html'>9</a></li>
<li><a href='list_1598_10.html'>10</a></li>

<li><a href='list_1598_2.html'>下一页</a></li>

<li><span class="pageinfo">共 <strong>&nbsp;10&nbsp;</strong>页<strong>&nbsp;100&nbsp;</strong>条</span></li>

            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  </div>
<!--/.page_bodyer-->
<#include "./footer.ftl">
<script src="http://xhjs.sports.cn/taekwondo/js/jquery-1.12.4.min.js"></script> 
<script src="http://xhjs.sports.cn/taekwondo/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script> 
<script src="http://xhjs.sports.cn/taekwondo/css/bootstrap-hover-dropdown.min.js"></script>
<script src="http://xhjs.sports.cn/taekwondo/js/common.js"></script>
<SCRIPT>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?43e49b685a8869184dcb4a7286958de2";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</SCRIPT>
</body>
</html>
