<#include "./header.ftl">

    <!--/.page_menu-->
    <div class="page_bodyer">
        <div class="container">
            <div class="page_wrap">
                <div class="section">
                    <h3 class="section_tit">新闻详情</h3>
                    <div class="section_ctt row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <h2>&nbsp;&nbsp;&nbsp;&nbsp;首届中国跆拳道九段联盟论坛暨地区权授仪式</h2>
                            <p style="text-align: center;">
                                <img alt="" src="/data/wwwroot/static/img/newsfirst4-8.jpg" /></p>
                            <p>
                            <p>&nbsp;&nbsp;&nbsp;2019年4月1日，第一届中国跆拳道九段联盟（中国大区）高峰论坛暨区域授权仪式在沈阳太平洋丽晶酒店举行。 出席仪式的有200多人，其中包括中国跆拳道九段联盟，京畿道跆拳道协会，以及全国各地的官员。</p>
                            <p>&nbsp;&nbsp;&nbsp;跆拳道九段联盟主席金庆德在祝词中说到“中国跆拳道九段联盟的诞生有助于最纯粹的跆拳道在中国的普及。” 他强调了正宗跆拳道人格教育的重要性，他还说：“我想在课堂上运用真正的跆拳道人格教育和技术教学方法。”</p>
                            <p style="text-align: center;">
                                <img alt="" src="/data/wwwroot/static/img/newssecond4-8.jpg" /></p>
                            <p>
                            <p>&nbsp;&nbsp;&nbsp;中国跆拳道九段会长黄海兴表示创立宗旨，他说:“为了中国跆拳道业界的良好发展，十分必要在推广正统系统的跆拳道。”</p>
                            <p>&nbsp;&nbsp;&nbsp;“多数人认为跆拳道是单纯的体育比赛项目，然而并非如此，传统跆拳道还包括动作、拳法、实战跆拳道、防身术等内容。他还说:“由于注重人性，修炼生们通过学习传统跆拳道，不仅锻炼身体，还学会了礼节、谦虚、忍耐和克己，在日常生活中也会受到很好的影响。”</p>
                            <p>&nbsp;&nbsp;&nbsp;黄会长就2019年的工作计划，对国内跆拳道培训、韩国专业教练派遣、合作比赛、跆拳道训练(韩国)、跆拳道夏令营(韩国)、晋级证书发放等方面进行了说明。今后将与韩国财团法人京畿道跆拳道协会、跆拳道九段联盟保持和扩大交流，并为普及传统跆拳道而努力。”</p>
                            <p style="text-align: center;">
                                <img alt="" src="/data/wwwroot/static/img/newsthird4-8.jpg" /></p>
                            <p>
                            <p>&nbsp;&nbsp;&nbsp;另外，从1日到3日，韩国财团法人京畿道跆拳道协会和跆拳道九段联盟为中国跆拳道九段联盟会员进行了品势、跆剑道、实战跆拳道、护身术、跆拳道体操等相关讲座。中国跆拳道九段联盟还向创始会员100人，省外团体战略伙伴6处，省内团体战略伙伴8处传达了任命状。</p>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!--/.page_bodyer-->
    <#include "./footer.ftl">
        <script src="http://xhjs.sports.cn/taekwondo/js/jquery-1.12.4.min.js"></script>
        <script src="http://xhjs.sports.cn/taekwondo/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <script src="http://xhjs.sports.cn/taekwondo/css/bootstrap-hover-dropdown.min.js"></script>
        <script src="http://xhjs.sports.cn/taekwondo/js/common.js"></script>

        </body>
        </html>