
<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<TITLE>国家跆拳道队 空手道队参观改革开放40周年大型展览 - 中国跆拳道协会官方网站 - 华奥星空</TITLE>
<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="./css/style.css">
<link href="./css/cdn-boot-font-awesome.min.css" rel="stylesheet">
</head>

<body>
<div class="page_header hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="page_logo">
          <div class="logo"> <img class="" src="http://xhjs.sports.cn/taekwondo/img/logo.png" /> </div>
          <div class="title">
            <h1>中国跆拳道协会官方网站</h1>
            <p>Official Website of Chinese Taekwondo Association</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/.page_header-->
<div class="page_menu">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <div class="visible-xs-inline-block"><span class="title">中国跆拳道协会官网</span></div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"> <i class="fa fa-2x fa-navicon"></i> </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">首页 <span class="sr-only"></span></a></li>
          <li><a href="/about/">关于协会</a></li>
          <li><a href="/gzgd/">规则规定</a></li>
          <li><a href="/notices/">协会公告</a></li>
          <li class="menu_dropdown"> <a href="/news/" class="dropdown-toggle" data-hover="dropdown" data-delay="0" data-close-others="false">新闻资讯 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/xwdt/">新闻动态</a></li>
              <li><a href="/xhdt/">协会动态</a></li>
              <li><a href="/jctp/">高清图片</a></li>
              <li><a href="/spjj/">精彩视频</a></li>
            </ul>
          </li>
          <li class="menu_dropdown"> <a href="/memberservices/" class="dropdown-toggle" data-hover="dropdown" data-delay="0" data-close-others="false">会员服务 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/memberservices/check/">会员查询</a></li>
              <li><a href="/memberservices/gyms/">考试中心</a></li>
              <li><a href="/zhengshu/">级位段位认证</a></li>
              <li><a href="/memberservices/examiners/">晋级官认证</a></li>
            </ul>
          </li>
          <li><a href="#">竞赛专区</a></li>
          <li><a href="#">中国之队</a></li>
          <li><a href="#">地方协会</a></li>
          <li><a href="#">联系我们</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse --> 
    </div>
  </nav>
</div>

<!--/.page_menu-->
<div class="page_bodyer">
<div class="container">
    <div class="page_wrap">
      <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li><a href="http://www.taekwondo.org.cn/news/">新闻资讯</a></li>
        <li class="active">新闻动态</li>
      </ol>
      <div class="article_wrap article">
        <h1>国家跆拳道队 空手道队参观改革开放40周年大型展览</h1>
        <div class="article_infobar text-center"><span>2019-01-14 14:32</span> <span><a href="http://www.taekwondo.org.cn/" target="_blank">中国跆拳道协会</a></span></div>
        <hr/>
<style>
.video{display:none;}
</style>
<div class="video" id="CuPlayer" style="width:700px;margin-left: auto;margin-right:auto;">
<SCRIPT LANGUAGE=JavaScript>
<!--
var vID        = ""; 
var vWidth     = "100%";
var vHeight    = "400";
var vFile      = "http://xhjs.sports.cn/olympic/css/zt/cuplayer/CuSunV2set.xml";
var vPlayer    = "http://xhjs.sports.cn/olympic/css/zt/cuplayer/player.swf?v=2.5";
var vPic       = "http://xhjs.sports.cn/olympic/css/zt/cuplayer/images/start.jpg";
var vCssurl    = "http://xhjs.sports.cn/olympic/css/zt/cuplayer/images/mini.css";
//PC,安卓,iOS
var vMp4url    = "";
//-->
</SCRIPT> 
<script class="CuPlayerVideo" data-mce-role="CuPlayerVideo" type="text/javascript" src="http://xhjs.sports.cn/olympic/css/zt/cuplayer/js/CuSunX1.min.js"></script>
</div>

<p style="text-align: center;">
  <img alt="" src="http://xhimg.sports.cn/Image/allimg/190114/65-1Z114143415135.jpg" /></p>
<p>
  　　为了深入学习贯彻党的十九大精神，2019年1月9日上午，中国跆拳道队和空手道队全体运动员在国家队教练管健民的带领下来到国家博物馆参观&ldquo;伟大的变革&mdash;&mdash;庆祝改革开放40周年大型展览&rdquo;。切实感受改革开放40年来，人民生活取得的伟大变迁，中华民族从站起来、富起来到强起来的伟大飞跃。</p>
<p>
  　　该大型展览以习近平新时代中国特色社会主义思想为指导，以改革开放40年光辉历程为主线，紧扣&ldquo;坚持和发展中国特色社会主义&rdquo;的主题，聚焦大事要事喜事，从生产生活各个方面展示改革开放40年的光辉历程、伟大成就和宝贵经验。突出展现党中央将改革进行到底的政治魄力和坚定决心，展现全面深化改革的总目标是完善和发展中国特色社会主义制度、推进国家治理体系和治理能力现代化，不断增强中国特色社会主义道路自信、理论自信、制度自信、文化自信。</p>
<p style="text-align: center;">
  <img alt="" src="http://xhimg.sports.cn/Image/allimg/190114/65-1Z114143434122.jpg" /></p>
<p>
  　　展览共分为&ldquo;伟大的变革&rdquo;&ldquo;壮美篇章&rdquo;&ldquo;关键抉择&rdquo;&ldquo;历史巨变&rdquo;&ldquo;大国气象&rdquo;&ldquo;面向未来&rdquo;六大主题展区，多角度、全景式集中展示了我国改革开放和社会主义现代化建设在各领域的变迁以及取得的重要改革发展成果，展现了中国人民艰苦奋斗、顽强拼搏的艰辛历程。大家一致表示，展览内容丰富、史料详实，是生动的改革开放历史教育课堂。</p>
<p style="text-align: center;">
  <img alt="" src="http://xhimg.sports.cn/Image/allimg/190114/65-1Z114143449262.jpg" /></p>
<p>
  　　参观过程中，国家队的运动健儿们在反映党中央推进改革开放重大时间节点、重大历史事件、重大决策部署的历史照片前频频驻足，在安徽小岗村18位农民按下包产到户&quot;红手印&quot;的雕塑前回顾过去，在长征系列运载火箭等大国重器模型前仔细观摩，在展现改革开放40年人民群众衣食住行巨大变化的&ldquo;时光博物馆&rdquo;里重温回忆，在体现40年来经济建设、政治建设、文化建设、社会建设、生态文明建设历史性成就与变革的实物和图表前展望未来，边听边看，边学边记。</p>
<p>
  　　队员们纷纷表示，改革开放40年来，在大国转型和制度变迁的过程之中，我们国家的政治经济改革在历史和逻辑上始终脉络清晰，改革思路明朗，改革前景一片光明。一代代人始终秉持&quot;家国情怀，全球视野&quot;的理念，扎根人民，奉献国家。</p>
<p style="text-align: center;">
  <img alt="" src="http://xhimg.sports.cn/Image/allimg/190114/65-1Z114143501E1.jpg" /></p>
<p>
  　　此次参观之旅，使国家队运动员们深刻认识到改革开放和社会主义现代化建设的光明前景，坚定了跟党走中国特色社会主义道路、改革开放道路的信心和决心，同时也激发了队员们备战奥运、为国争光的斗志和精神。</p>

        <p class="editor">责任编辑：朱学森</p>
      </div>
    </div>
  </div>
  </div>
<!--/.page_bodyer-->
<div class="page_footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <div class="logo"><img src="http://xhjs.sports.cn/taekwondo/img/logo.png" alt="CTA_logo" /></div>
      </div>
      <div class="col-sm-6">中国跆拳道协会版权所有 | ICP经营许可证：京ICP证030713号<br>
        网上传播视听节目许可证 编号：0105094 | 发证机关：国家广播电影电视总局<br>
        客服及报障电话：4008102008 <br>
        客服及报障邮箱：operationcenter@sports.cn</div>
      <div class="col-sm-4"><span>联系协会</span><br>
        秘书处联系电话/传真：87182933<br>
        会员部联系电话/传真：87180299<br>
        地址：北京市东城区体育馆路甲2-3号 邮编：100061</div>
    </div>
  </div>
</div>
<!--/.page_footer-->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-sm-12"> 本网站由华奥星空(北京)信息技术有限公司提供制作及技术支持 | <a href="#">关于华奥星空</a> - <a href="#">隐私保护</a> - <a href="#">广告服务</a> - <a href="#">招聘信息</a> - <a href="#">联系我们</a> </div>
    </div>
  </div>
</div>
<script src="./js/jquery-1.12.4.min.js"></script> 
<script src="./js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script> 
<script src="./js/bootstrap-hover-dropdown.min.js"></script>
<script src="./js/common.js"></script>
<SCRIPT>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?43e49b685a8869184dcb4a7286958de2";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</SCRIPT>
</body>
</html>
