
<#include "./header.ftl">

<!--/.page_menu-->
<div class="page_bodyer">
<div class="container">
    <div class="page_wrap">
      <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active">九段联盟</li>
      </ol>
      <div class="section">
        <h3 class="section_tit">组织架构</h3>
        <div class="section_ctt row">
          <img height="500" width="750" src="../images/organization.png"/>
          
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<!--/.page_bodyer-->
<#include "./footer.ftl">
<script src="http://xhjs.sports.cn/taekwondo/js/jquery-1.12.4.min.js"></script> 
<script src="http://xhjs.sports.cn/taekwondo/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script> 
<script src="http://xhjs.sports.cn/taekwondo/css/bootstrap-hover-dropdown.min.js"></script>
<script src="http://xhjs.sports.cn/taekwondo/js/common.js"></script>
<SCRIPT>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?43e49b685a8869184dcb4a7286958de2";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</SCRIPT>
</body>
</html>
