<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <TITLE>跆拳道九段联盟</TITLE>
    <link rel="shortcut  icon" type="image/x-icon" href="../images/icon/icon.ico" media="screen"  />
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link href="../styles/cdn-boot-font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="../scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../scripts/jquery.media.js"></script>
</head>
<body>
<div class="page_header hidden-xs" style="background: #00aa9a ">
    <div class="container" >
        <div class="row">
            <div class="col-sm-12">
                <div class="page_logo" style="color:#004aa0">
                    <div class="logo"> <img class="" src="../images/logo.png" /> </div>
                    <div class="title">
                        <h1 style="color: #ffffff">跆拳道九段联盟</h1>
                        <p style="color: #ffffff;">OFFICIAL WEBSITE OF TAEKWONDO NINE DAN FEDERATION </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="_div_embed" class="x-hidden" align="center" style="vertical-align: middle;">
            <embed id="_embed" type="application/pdf">
</div>
<script>
    document.getElementById('_embed').src = "/showPdf/${certId}";
</script>

</body>
</html>