body {
    background-image: url("../images/beijing.jpg");;
    background-size: 100%;
    background-repeat: no-repeat;
}
 
#login_frame {
    width: 400px;
    height: 340px;
    padding: 13px;
 
    position: absolute;
    left: 75%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
 
    background-color: rgba(192, 192, 192, 0.65);
 
    border-radius: 10px;
    text-align: center;
}
 
form p > * {
    display: inline-block;
    vertical-align: middle;
}
 
#image_logo {
    margin-top: 22px;
}
 
.label_input {
    font-size: 19px;
    font-family: 黑体;
 
    width: 60px;
    height: 45px;
    line-height: 32px;
    text-align: center;
 
    color: black;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
 
.text_field {
    width: 270px;
    height: 45px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}
 
#btn_login {
    font-size: 19px;
    font-family: 宋体;
 
    width: 120px;
    height: 45px;
    line-height: 28px;
    text-align: center;
 
    color: white;
    background-color: #3cb371;
    border-radius: 6px;
    border: 0;
 
    float: center;
}
 
#forget_pwd {
    font-size: 12px;
    color: white;
    text-decoration: none;
    position: relative;
    float: right;
    top: 5px;
 
}
 
#forget_pwd:hover {
    color: blue;
    text-decoration: underline;
}
 
#login_control {
    padding: 0 28px;
}